# Variables de Entorno para Producción / Vercel
SECRET_KEY=django-insecure-50jmkw$fki%r2(7h2h64dfj8-3kq2+1@4#$_vro-i407o!ic((
DEBUG=False
DATABASE_URL=postgresql://neondb_owner:npg_Esjfu8kSR9Kx@ep-morning-hat-ayib960a.c-5.us-east-2.aws.neon.tech/neondb?sslmode=require
